.main-top {
    margin-top: 10vh;
    position: relative;
    height: 60vh;
    background-color: rgb(81, 0, 94);
    display: flex;
    opacity: 0.9;
}

.main::-webkit-scrollbar {
    display: none;
}

.main-top label {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.main-img {
    height: 60vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
    overflow: hidden;
    z-index: -10;
}

.main-img img {
    height: 60vh;
    animation-name: img-animation;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.row img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.row #col-0 .imgContainer, .row #col-1 .imgContainer, .row #col-2 .imgContainer, .row #col-3 .imgContainer {
    position: relative;
}

.row .edit {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    font-size: 40px;
    font-weight: bold;
}

@keyframes img-animation {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.main-top p {
    font-size: 20px;
    color: white;
    line-height: 35px;
    margin: 2vw 6vw;
    width: 50vw;
}

.main-top .content {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.column {
    flex: 24%;
    max-width: 24%;
    margin-left: 10px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 45%;
        max-width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 45%;
        max-width: 45%;
    }
    .main-top {
        margin-top: 20vh;
    }
    .main-top label {
        font-size: 30px;
        margin: 2vw 10vw;
    }
    .main-top p {
        font-size: 15px;
        margin: 2vw 10vw;
        width: 80vw;
    }
    .main-top .content {
        width: 100vw;
    }
    @keyframes img-animation {
        0% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(-1000px);
        }
        100% {
            transform: translateX(0px);
        }
    }
    .main-img img {
        height: 60vh;
        animation-name: img-animation;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}

.popup-gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 90vh;
    width: 100vw;
    margin-top: 10vh;
}

.popup-off {
    display: none;
}

.popup-gallery .content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 10px;
}

#pop-img {
    max-width: 50vw;
    max-height: 40vh;
}

body {
    position: relative;
}

.galleryAdmin {
    text-align: center;
    transition: 0.25s;
    width: 150px;
    padding: 10px;
    outline: none;
    border-radius: 24px;
    border: 1px solid rgb(51, 63, 62);
    background: transparent;
    color: rgb(51, 63, 62);
    font-weight: bold;
    margin-top: 30px;
}

.galleryAdmin:hover {
    background: rgb(51, 63, 62);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(51, 63, 62);
    transform: scaleX(1.2) scaleY(1.2);
}

.inputField {}